@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';

body {
  background-color: #eeeeee;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}
