@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';

body {
  // background-color: #eeeeee;
}

.container {
  // max-width: 75em;
  // margin: 0 auto;
  // background-color: white;
}

.page-title {
  display: inline-block;
  max-width: 30em;
}

.badge.tag {
  font-size: 16px;
  border-radius: 4px;

  a {
    color: white;
  }

  .remove-tag {
    // display: none;
    cursor: pointer;
  }
}

.cover-image {
  box-shadow: 0 8px 6px -6px black;
}

#book-reader {
  display: none;
}

.reading {
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  padding: 20px;
}

#book-area {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.page-turn, #book-close {
  cursor: pointer;
  display: inline-block;
}

#book-prev {
  top: 50%;
  left: 0;
  padding-left: 10px;
  position:absolute;
  font-size: 30px;
}

#book-next {
  top: 50%;
  right: 0;
  padding-right: 10px;
  position:absolute;
  font-size: 30px;
}

#book-close {
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 20px;
  position: absolute;
  font-size: 20px;
}
