{% extends 'layout.html' %}

{% block title %}Books{% endblock %}

{% block body %}
  <h1 class="page-title">{% if not term %}Books{% else %}Books with <em>"{{term}}"</em> in the Title{% endif %}</h1>
  <br />

  <a class="button small float-right" href="{% url 'books:new' %}">New Book</a>
  <br/>

  <div class="row medium-up-4">
    {% for book in books %}
      <div class="column">
        <div class="card" style="">
          {% if book.cover_image %}
            <a href="{% url 'books:show' pk=book.pk %}">
              <img src="{{book.cover_image.url}}" alt="{{book.title}}" class="text-center" />
            </a>
          {% elif book.cover %}
            <a href="{% url 'books:show' pk=book.pk %}">
              <img src="{{book.cover}}" alt="{{book.title}}" class="text-center" />
            </a>
          {% else %}
            <div class="card-divider">
              <a href="{% url 'books:show' pk=book.pk %}">{{ book.title }}</a>
            </div>
          {% endif %}
          <div class="card-section">
            <p>{{book.about|truncatechars:150}}</p>
            <p>
              <small>Updated on: {{book.updated_at|date:"m/d/Y h:m:s"}}</small>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
