{% extends 'layout.html' %}

{% block title %}{{book.title}}{% endblock %}

{% block body %}
  <h1 class="page-title">{{book.title}}</h1>
  <a class="button small float-right" href="{% url 'books:edit' pk=book.pk %}">Edit</a>
  <br/><br/>

  <div class="row">
    <div class="columns large-6">
      {% if book.cover_image %}
        <img class="cover-image" src="{{book.cover_image.url}}" alt="{{book.title}}" width="250" />
      {% elif book.cover %}
        <img class="cover-image" src="{{book.cover}}" alt="{{book.title}}" width="250" />
      {% endif %}

      <p>
        {{book.about|linebreaks}}
      </p>

      <script>
      console.log('ePub:', ePub);
      	var Book = ePub("{{book.upload.url}}");
      	Book.renderTo("area");
      </script>
      <div onclick="Book.prevPage();">‹</div>
      <div id="area"></div>
      <div onclick="Book.nextPage();">›</div>
    </div>

    <div class="columns large-6">
      <div class="row">
        <div class="columns large-12">
          <strong>Download File:</strong> &nbsp;&nbsp;
          {% if book.upload %}
            <a href="{{book.upload.url}}" target="_blank">{{book.upload.name}}</a>
          {% endif %}
          <br>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="columns large-12">
          <strong>Tags:</strong>
          <br/><br/>

          {% for tag in book.tag_set.all %}
            <span class="badge tag">
              <a href="{% url 'books:tags' pk=tag.pk %}">{{tag.name}}</a>
              <span class="remove-tag hide" data-bookid="{{book.id}}" data-tagid="{{tag.id}}">&times;</span>
              {% csrf_token %}
            </span>
          {% endfor %}
          <br/>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="columns large-4">
          <button type="button" class="button small toggle" data-id="addtagsform">Add Tags</button>
          <div class="hide" id="addtagsform">
            <form class="form" action="" method="post" enctype="multipart/form-data">
              {{tag_form.as_p}}
              {% csrf_token %}
              <input type="submit" class="button tiny" value="Save Tags">
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns large-12">
          <hr/>

          <p>
            <small>ISBN: {{book.isbn}}</small>
            <br/>
            <small>Author: {{book.author}}</small>
            <br/>
            <small>Last Updated: {{book.updated_at|date:"m/d/Y h:m:s"}}</small>
          </p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
